@font-face {
  font-family: 'Averta Regular';
  src: url('../assets/fonts/AvertaStdPE-Regular.woff2') format('woff2'),
       url('../assets/fonts/AvertaStdPE-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Averta Semibold';
  src: url('../assets/fonts/AvertaStdPE-Semibld.woff2') format('woff2'),
       url('../assets/fonts/AvertaStdPE-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Averta Bold';
  src: url('../assets/fonts/AvertaStdPE-Bold.woff2') format('woff2'),
       url('../assets/fonts/AvertaStdPE-Bold.woff') format('woff');
}

body,
html {
  background: #fff;
  font-family: 'Averta Regular';
  margin: 0;
  padding: 0;
}

.content-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-container {
  width: 360px;
}

.adora-logo {
  width: 100%;
  height: auto;
}

.tagline {
  text-align: center;
  margin: 4px auto 0;
}

.description {
  width: 360px;
  margin: 1.5em 0;
  text-align: center;
}

.crafted-by {
  position: absolute;
  bottom: 0;
  padding: 4px 24px;
}

.crafted-by p {
  font-size: 12px;
  color: #999;
}

/* .cta-btn-cont {
} */

.cta-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 16px;
  text-decoration: none;
  appearance: none;
  font-family: 'Averta Bold';
  font-size: 18px;
  background-color: #0178fc;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  min-width: 144px;
  border-radius: 3px;
}


/* Responsive Styles */
@media (min-width: 640px) {
  .tagline {
    font-size: 20px;
  }

  .logo-container {
    width: 360px;
  }
    
  .description {
    width: 360px;
    margin: 1em 0;
  }
  
  .crafted-by p {
    font-size: 14px;
  }  
}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

/* @media (min-width: 1280px) {

} */
